Repository afkcodes/audio_x: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: npx biome check --write {staged_files} && git add {staged_files}

lint:
  run: npx biome lint {staged_files}

typecheck:
  run: npx tsc --noEmit

chore: allow releasing to npm
  .release-it.json
Due: none

chore: redo cast
  src/adapters/cast.ts
  src/audio.ts
  src/constants/cast.ts
  src/helpers/common.ts
  src/types/cast.d.ts
  src/types/equalizer.types.ts
Due: format, lint, typecheck

chore: fix next and previous when casting is active
  biome.json
  src/adapters/cast.ts
  src/audio.ts
  src/constants/common.ts
  src/events/castEvents.ts
  src/helpers/common.ts
  src/mediasession/mediasessionHandler.ts
  src/types/cast.d.ts
Due: format, lint, typecheck

chore: add types, and device name in audiostate
  src/adapters/cast.ts
  src/states/audioState.ts
  src/types/audio.types.ts
  src/types/cast.d.ts
Due: format, lint, typecheck

refactor: refactor code and linting with biome
  .gitignore
  biome.json
  commitlint.config.js
  src/adapters/equalizer.ts
  src/adapters/hls.ts
  src/audio.ts
  src/constants/common.ts
  src/constants/equalizer.ts
  src/events/audioEvents.ts
  src/events/baseEvents.ts
  src/events/errorEvents.ts
  src/events/hlsEvents.ts
  src/events/listeners.ts
  src/helpers/common.ts
  src/helpers/notifier.ts
  src/helpers/shuffleHelper.ts
  src/index.ts
  src/mediasession/mediasessionHandler.ts
  src/states/audioState.ts
  src/states/networkState.ts
  src/types/audio.types.ts
  src/types/audioEvents.types.ts
  src/types/hls.js.d.ts
  src/types/index.ts
  tsup.config.ts
Due: format, lint, typecheck

chore: add sponsor links
  .github/FUNDING.yml
Due: format

Path conditions:
  format: any of: **/*.{js,ts,json,toml,yml,yaml}
  lint: any of: **/*.{js,ts}
  typecheck: any of: **/*.{ts,tsx}
